@import url(bootstrap.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600&subset=latin,latin-ext);

body {
    font-size: 12px;
    background: #fafafa url(../images/bg.jpg);
    background: #fafafa;
}
:focus {
    outline: 0;
}
pre {
	font-family: monospace;
}
#left, #right {
    padding: 10px 0;
    margin: 10px 0;
}
#left {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#right {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.97);
    border-left: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
input[type="submit"] {
    font-size: 12px;
}
.left {
    float: left !important;
}
.right {
    float: right !important
}
.clear {
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    clear: both;
}
h1, h2, h3, h4 {
    margin-top: 0;
}
h1 {
    font-size: 16px
}
h2 {
    font-size: 14px;
    line-height: 18px;
}
h3 {
    font-size: 13px;
}
h4 {
    font-size: 12px;
}
.nomargin {
    margin-bottom: 0 !important
}
#revision tr.ran td {
	color: #999;
	background-color: #F7F9FB;
}
a.revision-handle {
	cursor: pointer;
	margin-right: 10px;
}
.ran a.revision-handle {
	color: #999;
	text-decoration: line-through;
}
a.files {
	background-image: url(/public/images/sql.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 25px;
}
a.tracker {
	float: right;
}
#revisions .heading {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0 !important;
    border-bottom: none;
    margin-top: 5px;
}
.revision-files .alert-success, .revision-files .alert-error {
    margin: 5px 0 0 0;
}
.btn-mini {
    font-size: 12px !important;
}
#left table {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#left .table-bordered, #left .table-bordered th, #left .table-bordered td {
    border-color: #212121;
}
#right .table-striped tbody tr:nth-child(even) td, #right .table-striped tbody tr:nth-child(even) th {
    background-color: white;
}
#left .table-striped tbody tr:nth-child(odd) td, #left .table-striped tbody tr:nth-child(odd) th {
    background-color: rgba(255, 255, 255, 0.05);
}
#left .btn-primary {
    border-color: #062C5D
}
#left .label-success, #left .badge-success {
    background-color: #379F39;
}
#left .label-important, #left .badge-important {
    background-color: #D54E4B;
}
#left label {
    margin-bottom: 0;
    cursor: pointer;
}
#left .alert {
    word-break: break-word;
}
.alert {
    padding-right: 14px;
}
.alert .close {
    right: 0;
    top: 0;
}
.alert li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.alert li.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.alert-error {
    border: none;
    background-color: #C00;
    color: white;
    text-shadow: none;
}
.alert-success {
    background-color: #E0EF9B;
    border: 1px solid #B3C063;
    color: #60700E;
}
#left .alert-success {
    border: none;
}
.alert-success .alert-heading, .alert-error .alert-heading {
    font-size: 13px;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.navbar .brand {
    color: white !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.navbar .brand span {
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

.header{
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: 70px 9px;
}

.header.headerSortUp {
	background-image: url(../images/asc.gif);
	background-position: 70px 11px;
}
.header.headerSortDown {
	background-image: url(../images/desc.gif);
	background-position: 70px 11px;
}

.container {
	margin-right: 20%;
	margin-left: 20%;
	width: auto;
}

.navbar, .navbar-inner, .navbar-inverse{
	border-top: 1px solid #1e8cbc !important;
	border-bottom: 1px solid #1e8cbc !important;
	background-color: #2295c8 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#41b5e8), to(#2295c8)) !important;
	background-image: -webkit-linear-gradient(top, #41b5e8, #2295c8) !important;
	background-image: -moz-linear-gradient(top, #41b5e8, #2295c8) !important;
	background-image: -o-linear-gradient(top, #41b5e8, #2295c8) !important;
	background-image: -ms-linear-gradient(top, #41b5e8, #2295c8) !important;
	background-image: linear-gradient(top, #41b5e8, #2295c8) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#41b5e8', EndColorStr='#2295c8') !important;
	box-shadow: inset 0 1px 0 #73d2fc !important;
	-moz-box-shadow: inset 0 1px 0 #73d2fc !important;
	-webkit-box-shadow: inset 0 1px 0 #73d2fc !important;
	-ms-box-shadow: inset 0 1px 0 #73d2fc !important;
	-o-box-shadow: inset 0 1px 0 #73d2fc !important;
}

.btn-primary{
	border: 1px solid #1e8cbc !important;
	-webkit-box-shadow: inset 0 1px 1px #7ed6f9 !important;
	-moz-box-shadow: inset 0 1px 1px #7ed6f9 !important;
	box-shadow: inset 0 1px 1px #7ed6f9 !important;
	background: #40b4e8 !important;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #40b4e8), color-stop(100%, #2295c8)) !important;
	background-image: -webkit-linear-gradient(#40b4e8, #2295c8) !important;
	background-image: -moz-linear-gradient(#40b4e8, #2295c8) !important;
	background-image: -o-linear-gradient(#40b4e8, #2295c8) !important;
	background-image: linear-gradient(#40b4e8, #2295c8) !important;
	text-shadow: 1px 1px 2px #16688d !important;
}

.btn-info{
	border: 1px solid #90a749 !important;
	-webkit-box-shadow: inset 0 1px 1px #c3d364 !important;
	-moz-box-shadow: inset 0 1px 1px #c3d364 !important;
	box-shadow: inset 0 1px 1px #c3d364 !important;
	color: white !important;
	background: #9fb906 !important;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fb906), color-stop(100%, #719012)) !important;
	background-image: -webkit-linear-gradient(#9fb906, #719012) !important;
	background-image: -moz-linear-gradient(#9fb906, #719012) !important;
	background-image: -o-linear-gradient(#9fb906, #719012) !important;
	background-image: linear-gradient(#9fb906, #719012) !important;
}

button {
	font-size: 12px !important;
}

.CodeMirror {
	width: auto !important;
}

.alert-exec{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

span.info{
	color: #3a87ad;
}
